p{
    /* text-align: right; */
    /* text-align: start; */
    /* text-align: end; */
    text-align: center;
}

h1{
    text-align: center;
    /* text-decoration: line-through; */
    /* text-decoration: red underline; */
    text-decoration: blue wavy underline;
    text-transform: uppercase;

}

a{
    text-decoration: none;
}

#one{
    font-family: Arial, Helvetica, sans-serif;
}

#two{
    font-family: cursive;
}

