div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    /* margin-top: 20px; */
    display: inline-block;

}

#box1{
    background-image: url("animals.jpg");
    /* background-size: cover; */
    background-size: contain;
    background-repeat: no-repeat;
}