div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    /* margin-top: 20px; */
    display: inline-block;

}


#box1{
    position: static;
    

}


#box2{
    position: relative;
    top: 20px;
    left: 20px;
}

#box3{
    /* position: absolute; */
    position: sticky;
    top: 0;
}

#box4{
    position: fixed;
    /* right: 10px; */
    /* bottom: 0; */
    /* width: 100%; */
    top: 0;
}